body {
  padding: 0;
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

:root {
  --primary-color: #007bff;
  /* 主要顏色 - 藍色 */
  --secondary-color: #28a745;
  /* 次要顏色 - 綠色 */
  --tertiary-color: #dc3545;
  /* 第三顏色 - 紅色 */
}