#nav {


  .no-scroll {
    overflow: hidden;
  }

  .header {
    background-color: #818181;
    height: 60px;
  }

  .sidebar {
    top: 60px;
    height: calc(100vh - 60px);
  }

  #sidebar {
    display: none;
  }

  li {

    display: flex;
    justify-content: center;
    align-items: center;

    button {
      margin: 0 20px;
    }

    a {
      height: 100%;
      padding: 0 20px;
      display: block;
      background-color: burlywood;
      align-items: center;
      line-height: 60px;
    }
  }



}