#left-bar {
  // margin-top: 60px;
  position: fixed;
  height: calc(100vh - 50px);
  padding: 10px;
  background-color: rgb(57, 57, 57);
  color: rgb(147, 121, 255);
  width: inherit;
  overflow-y: auto;
}

#left-bar {

  /* 基本的 CSS 样式 */
  .accordion {
    // max-width: 400px;
    margin: 0 auto;
  }

  .accordion-item {
    border: 1px solid #5ee1ff;
    margin-bottom: 10px;
  }

  .accordion-header {
    background-color: #919191;
    color: white;
    padding: 10px;
    cursor: pointer;
  }

  .accordion-content {
    overflow: hidden;
    padding: 0px;
    height: 0;
    transition: height 0.3s ease;
    list-style: armenian;
  }

  .accordion-content li {
    text-align: center;
    padding: 2px 0;
  }

  .accordion-content li:hover {
    background-color: #d7d7d7;
    border-radius: 10px;
  }

  .accordion-content li a {
    color: rgb(147, 121, 255);
    font-size: 20px;
  }


}

#left-bar::-webkit-scrollbar {
  width: 0;
}